<section class="section-api">
  <div class="section-title">
    <h2 class="h3">
      Referencia de API para el componente Destacado de Obelisco
    </h2>
    <div class=" ">
      <code
        highlight-js
        [lang]="'ts'"
        code="import { OHighlightedModule } from 'ngx-obelisco-17/highlighted';"
      ></code>
    </div>
  </div>

  <h2 class="h3">Etiqueta</h2>
  <hr />

  <div class="section-selector">
    <p>Selector: <strong>o-highlighted</strong></p>

    <div class="section-properties mb-5">
      <h2 class="h3">Propiedades</h2>
      <o-table
        [isScrollable]="true"
        [columns]="columns"
        [dataSource]="highlightedSource"
        [isStriped]="true"
        [isBordered]="true"
      ></o-table>
    </div>
  </div>

  <h2 class="h3">Tipos de datos</h2>
  <hr />

  <div class="section-type">
    <h3>HighlightedType</h3>
    <p>Permite establecer los valores de la propiedad <strong>type</strong>.</p>

    <div class="section-interface mb-5">
      <div class=" ">
        <code highlight-js [lang]="'ts'">{{ types }}</code>
      </div>
    </div>
  </div>

  <div class="section-type mt-5">
    <h3>MediaImage</h3>
    <p>
      Permite establecer los valores de la propiedad <strong>image</strong>.
    </p>

    <div class="section-interface">
      <div class=" ">
        <code highlight-js [lang]="'ts'">{{ interfaceImage }}</code>
      </div>
      <div class="section-properties">
        <h4>Propiedades</h4>
        <o-table
          [isScrollable]="true"
          [dataSource]="dataSourceInterfaceImage"
          [columns]="columns"
          [isBordered]="true"
          [isStriped]="true"
        ></o-table>
      </div>
    </div>
  </div>

  <div class="section-type mt-5">
    <h3>MediaVideo</h3>
    <p>
      Permite establecer los valores de la propiedad <strong>video</strong>.
    </p>

    <div class="section-interface">
      <div class=" ">
        <code highlight-js [lang]="'ts'">{{ interfaceVideo }}</code>
      </div>
      <div class="section-properties">
        <h4>Propiedades</h4>
        <o-table
          [isScrollable]="true"
          [dataSource]="dataSourceInterfaceVideo"
          [columns]="columns"
          [isBordered]="true"
          [isStriped]="true"
        ></o-table>
      </div>
    </div>
  </div>

  <div class="section-type mt-5">
    <h3>MediaIframe</h3>
    <p>
      Permite establecer los valores de la propiedad <strong>iframe</strong>.
    </p>

    <div class="section-interface">
      <div class=" ">
        <code highlight-js [lang]="'ts'">{{ interfaceIframe }}</code>
      </div>
      <div class="section-properties">
        <h4>Propiedades</h4>
        <o-table
          [isScrollable]="true"
          [dataSource]="dataSourceInterfaceIframe"
          [columns]="columns"
          [isBordered]="true"
          [isStriped]="true"
        ></o-table>
      </div>
    </div>
  </div>
  <div class="section-properties my-5">
    <h2 class="h3">Secciones básicas de Destacado</h2>
    <hr />
    <p>
      El componente Destacado puede ser utilizado con las propiedades
      mencionadas previamente. Además, Ngx-obelisco proporciona una serie de
      secciones predefinidas que pueden incluirse dentro de
      &lt;o-highlighted&gt;&lt;/o-highlighted&gt;.
    </p>
    <o-table
      [isScrollable]="true"
      [columns]="columns"
      [dataSource]="dataSourceSections"
      [isStriped]="true"
      [isBordered]="true"
    ></o-table>
  </div>
  <div class="section-properties mb-5">
    <p>
      Tanto <em>o-highlighted-title</em>, <em>o-highlighted-description</em>,
      <em>o-highlighted-footer</em> como <em>o-highlighted-image</em> y
      <em>o-highlighted-video</em> tienen la propiedad
      <em><strong>customClasses</strong>: string</em>, la cual permite aplicar
      clases personalizadas a los mismos.
    </p>
    <p>
      <em>o-highlighted-image</em> tiene la propiedad
      <em><strong>image</strong>: MediaImage</em>, la cual permite definir la
      imagen principal del destacado.
    </p>
    <p>
      <em>o-highlighted-video</em> tiene la propiedad
      <em><strong>video</strong>: MediaVideo</em> y
      <em><strong>iframe</strong>: MediaIframe</em> las cuales permiten
      establecer el video o iframe, respectivamente, del destacado.
    </p>
  </div>
  <div class="section-properties mb-5">
    <p>Ejemplos:</p>
    <app-viewer [isNavCode]="true" [isCodeVisible]="true">
      <div
        appClipboard
        class="d-flex flex-column align-items-end p-0"
        component-html
      >
        <button
          class="btn btn-sm btn-outline-link btn-clipboard btn-icon"
        ></button>
        <code highlight-js>{{ sectionsImageHtml }}</code>
      </div>
      <div
        appClipboard
        class="d-flex flex-column align-items-end p-0"
        component-ts
      >
        <button
          class="btn btn-sm btn-outline-link btn-clipboard btn-icon"
        ></button>
        <code highlight-js [lang]="'ts'" [lang]="'ts'">{{
          sectionsImageTs
        }}</code>
      </div>
    </app-viewer>

    <app-viewer [isNavCode]="true" [isCodeVisible]="true">
      <div
        appClipboard
        class="d-flex flex-column align-items-end p-0"
        component-html
      >
        <button
          class="btn btn-sm btn-outline-link btn-clipboard btn-icon"
        ></button>
        <code highlight-js>{{ sectionsVideoHtml }}</code>
      </div>
      <div
        appClipboard
        class="d-flex flex-column align-items-end p-0"
        component-ts
      >
        <button
          class="btn btn-sm btn-outline-link btn-clipboard btn-icon"
        ></button>
        <code highlight-js [lang]="'ts'" [lang]="'ts'">{{
          sectionsVideoTs
        }}</code>
      </div>
    </app-viewer>
  </div>
</section>
