<div [ngClass]="{ 'responsive-scroll': isScrollable }" [class]="customClasses" tabindex="0">
  <table
    *ngIf="isValidateComponent"
    class="table"
    [ngClass]="{ 'table-borderless': !isBordered, 'table-striped': isStriped }"
  >
    <thead>
      <tr>
        <th scope="col" *ngIf="checkbox?.isAllSelectable == true" [ngClass]="checkbox.customClassesTh">
          <div class="custom-control custom-checkbox">
            <input
              class="custom-control-input"
              type="checkbox"
              id="{{ id }}-selectAllCheckbox"
              name="{{ id }}-selectAllCheckbox"
              value=""
              (change)="onHeaderCheckboxChange($event)"
            />
            <label
              [ngClass]="checkbox.customClassesLabel"
              class="custom-control-label"
              for="{{ id }}-selectAllCheckbox"
              aria-label="Descripción para usuarios de lectores de pantalla"
              >{{ checkbox.title }}</label
            >
          </div>
        </th>
        <th scope="col" *ngIf="checkbox?.isAllSelectable == false" [ngClass]="checkbox.customClassesTh">
          {{ checkbox.title }}
        </th>
        <ng-container *ngFor="let column of columns">
          <th scope="col" [ngClass]="column.customClasses">{{ column.value }}</th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dataSource; let i = index">
        <td *ngIf="checkbox">
          <div class="custom-control custom-checkbox">
            <input
              #checkbox
              class="custom-control-input"
              type="checkbox"
              id="{{ id }}-checkbox_{{ i }}"
              name="{{ id }}-checkbox_{{ i }}"
              value=""
              (change)="onCheckboxChange(data, $event)"
            />
            <label
              class="custom-control-label no-text"
              for="{{ id }}-checkbox_{{ i }}"
              aria-label="Descripción para usuarios de lectores de pantalla"
            ></label>
          </div>
        </td>
        <ng-container *ngFor="let column of columns">
          <td [ngClass]="data[column.key].customClasses">
            <div *ngIf="data[column.key].data" [innerHTML]="sanitizeHTML(data[column.key].data)"></div>
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>
