<section class="section-api">
  <div class="section-title">
    <h2 class="h3">
      Referencia de API para el componente Pan de miga de Obelisco
    </h2>
    <div class=" ">
      <code
        highlight-js
        [lang]="'ts'"
        code="import { OBreadcrumbModule } from 'ngx-obelisco-17/breadcrumb';"
      ></code>
    </div>
  </div>

  <h2 class="h3">Etiqueta</h2>
  <hr />
  <div class="section-selector">
    <p>Selector: <strong>o-breadcrumb</strong></p>
    <div class="section-properties">
      <h2 class="h3">Como se usa</h2>
      <p>
        Se puede usar agregando su etiqueta en el html para detectar desde la
        url que parámetros agregar al breadcrumb.
      </p>
      <div class=" ">
        <code
          highlight-js
          [lang]="'ts'"
          code="import { BreadcrumbService } from 'ngx-obelisco/core/services';"
        ></code>
      </div>
      <p class="mb-5">
        De otra forma se tiene que importar el servicio
        <strong>BreadcrumbService</strong> desde el componente a quien le
        queremos cambiar o personalizar el breadcrumb y agregar el valor al
        BehaviorSubject <strong>breadcrumb$</strong> la ruta actual, las rutas y
        la url de la siguiente manera:
      </p>
    </div>

    <div class="section-type mt-5">
      <h3>Breadcrumb</h3>
      <p>
        Permite establecer los valores de la propiedad
        <strong>breadcrumb$</strong>.
      </p>
      <div class="section-interface">
        <div class=" ">
          <code highlight-js [lang]="'ts'">{{ exampleInterface1 }}</code>
        </div>
        <div class="section-properties">
          <h4>Propiedades</h4>
          <o-table
            [isScrollable]="true"
            [dataSource]="dataSource"
            [columns]="columns"
            [isBordered]="true"
            [isStriped]="true"
          ></o-table>
        </div>
      </div>
      <h3 class="mt-5">BreadcrumbRoute</h3>
      <p>
        Permite establecer los valores de la propiedad
        <strong>breadcrumb$</strong>.
      </p>
      <div class="section-interface">
        <div class=" ">
          <code highlight-js [lang]="'ts'">{{ exampleInterface2 }}</code>
        </div>
        <div class="section-properties">
          <h4>Propiedades</h4>
          <o-table
            [isScrollable]="true"
            [dataSource]="dataSourceRoute"
            [columns]="columns"
            [isBordered]="true"
            [isStriped]="true"
          ></o-table>
        </div>
      </div>
    </div>
  </div>
</section>
