<section class="section-api">
  <div class="section-title">
    <h2 class="h3">Referencia de API para el componente Botón de Obelisco</h2>
    <div class=" ">
      <code
        highlight-js
        [lang]="'ts'"
        code="import { OButtonModule } from 'ngx-obelisco-17/button';"
      ></code>
    </div>
  </div>

  <div class="section-selector">
    <div class="section-properties mb-5">
      <h2 class="h3">Propiedades generales</h2>
      <o-table
        [isScrollable]="true"
        [columns]="columns"
        [dataSource]="dataSource"
        [isStriped]="true"
        [isBordered]="true"
      ></o-table>
    </div>
    <div class="section-properties mb-5">
      <h2 class="h3">Propiedades en etiqueta &lt;a&gt;</h2>
      <o-table
        [isScrollable]="true"
        [columns]="columns"
        [dataSource]="linkDataSource"
        [isStriped]="true"
        [isBordered]="true"
      ></o-table>
    </div>
    <div class="section-properties mb-5">
      <h2 class="h3">Propiedades en etiqueta &lt;button&gt;</h2>
      <o-table
        [isScrollable]="true"
        [columns]="columns"
        [dataSource]="buttonDataSource"
        [isStriped]="true"
        [isBordered]="true"
      ></o-table>
    </div>
  </div>

  <h2 class="h3">Tipos de datos</h2>
  <hr />

  <div class="section-type">
    <h3>ButtonTypes</h3>
    <p>Permite establecer los valores de la propiedad <strong>type</strong>.</p>

    <div class="section-interface mb-5">
      <div class=" ">
        <code highlight-js [lang]="'ts'">{{ types }}</code>
      </div>
    </div>

    <h3>ButtonSizes</h3>
    <p>Permite establecer el <strong>tamaño</strong> del botón</p>

    <div class="section-interface">
      <div class=" ">
        <code highlight-js [lang]="'ts'">{{ sizes }}</code>
      </div>
    </div>
  </div>
</section>
