<section class="section-api">
  <div class="section-title">
    <h2 class="h3">
      Referencia de API para el componente Pasos de un formulario de Obelisco
    </h2>
    <div class=" ">
      <code
        highlight-js
        [lang]="'ts'"
        code="import { OStepsFormModule } from 'ngx-obelisco-17/steps-form';"
      ></code>
    </div>
  </div>

  <div class="section-selector">
    <div class="section-properties">
      <h2 class="h3">Como se usa</h2>

      <p>
        Se puede usar las directivas <strong>StepNextDirective</strong> y
        <strong>StepPreviousDirective</strong> importado en el modulo donde se
        va a usar y agregarlo en botones
      </p>
      <div class=" ">
        <code
          highlight-js
          [lang]="'ts'"
          code="import { StepNextDirective } from 'ngx-obelisco';"
        ></code>
      </div>
      <div class=" ">
        <code
          highlight-js
          [lang]="'ts'"
          code="import { StepPreviousDirective } from 'ngx-obelisco';"
        ></code>
      </div>

      <p>
        Ver ejemplo
        <a
          [routerLink]="['/components/steps-form/examples']"
          fragment="example-directive"
          >con botones y directiva</a
        >
      </p>

      <p>
        O de otra manera, se puede usar inyectando su servicio para inicializar
        los <strong>steps</strong> y luego darle funcionalidad.
      </p>

      <div class=" ">
        <code
          highlight-js
          [lang]="'ts'"
          code="import { StepService } from 'ngx-obelisco';"
        ></code>
      </div>

      <p class="mb-4">
        Ver ejemplo
        <a
          [routerLink]="['/components/steps-form/examples']"
          fragment="example-functionality"
        >
          con botones y funcionalidad
        </a>
      </p>

      <h2 class="h3">Propiedades</h2>
      <o-table
        [isScrollable]="true"
        [columns]="columns"
        [dataSource]="dataSourceInputs"
        [isStriped]="true"
        [isBordered]="true"
      ></o-table>
      <br />

      <h2 class="h3">Métodos</h2>
      <o-table
        [isScrollable]="true"
        [columns]="columns"
        [dataSource]="dataSourceOutput"
        [isStriped]="true"
        [isBordered]="true"
      ></o-table>
    </div>
  </div>
</section>
