<section class="section-example">
  <app-viewer title="Simple">
    <div class="alert-container" component>
      <o-alert>Esta es la descripción de una alerta de información.</o-alert>
      <o-alert type="primary">Esta es la descripción de una alerta de advertencia.</o-alert>
      <o-alert type="success">Esta es la descripción de una alerta de éxito.</o-alert>
      <o-alert type="danger">Esta es la descripción de una alerta de error.</o-alert>
    </div>
    <div appClipboard class="d-flex flex-column align-items-end p-0" component-html>
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code highlight-js>
        {{ exampleColors }}
      </code>
    </div>
  </app-viewer>

  <app-viewer title="Con cierre">
    <div class="alert-container" component>
      <o-alert [isDismissible]="true">Esta es la descripción de una alerta de información.</o-alert>
    </div>
    <div appClipboard class="d-flex flex-column align-items-end p-0" component-html>
      <button class="btn btn-sm btn-outline-link btn-clipboard btn-icon"></button>
      <code highlight-js>
        {{ exampleDismissible }}
      </code>
    </div>
  </app-viewer>

  <app-viewer title="Con destacado">
    <div class="alert-container" component>
      <o-alert>
        <strong>Este es un destacado de una alerta de información.</strong>
        Esta es la descripción de una alerta de información que continua al texto destacado.
      </o-alert>
    </div>
    <div appClipboard class="d-flex flex-column align-items-end p-0" component-html>
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code highlight-js>
        {{ exampleHighlight }}
      </code>
    </div>
  </app-viewer>

  <app-viewer title="Con hipervínculo">
    <div class="alert-container" component>
      <o-alert>
        <strong>Este es un destacado de una alerta de información.</strong>
        Esta es la descripción de una alerta de información que continua al texto destacado, incluso con
        <a [routerLink]="['/']">con enlace</a>.
      </o-alert>
    </div>
    <div appClipboard class="d-flex flex-column align-items-end p-0" component-html>
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code highlight-js>
        {{ exampleHighlightLink }}
      </code>
    </div>
  </app-viewer>

  <app-viewer title="Listas" [isNavCode]="true">
    <div class="alert-container" component>
      <o-alert type="danger" [listContent]="listLinkItems">
        <strong>Este es un destacado de una alerta de error.</strong> Esta es la descripción de una alerta de error que
        continua al texto destacado.
      </o-alert>

      <o-alert [listContent]="listItems">
        <strong>Este es un destacado de una alerta de información.</strong> Esta es la descripción de una alerta de
        información que continua al texto destacado.
      </o-alert>
    </div>
    <div appClipboard class="d-flex flex-column align-items-end p-0" component-html>
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code highlight-js>
        {{ exampleListsHtml }}
      </code>
    </div>
    <div appClipboard class="d-flex flex-column align-items-end p-0" component-ts>
      <button class="btn btn-sm btn-outline-link btn-clipboard btn-icon"></button>
      <code highlight-js [lang]="'ts'">
        {{ exampleListsTs }}
      </code>
    </div>
  </app-viewer>
</section>
