@import "@gcba/obelisco-v2/dist/styles.css";
@import "node_modules/tippy.js/dist/tippy.css";
@import "node_modules/tippy.js/themes/light.css";
@import "node_modules/tippy.js/animations/scale.css";

.tippy-box[data-theme~="custom-theme"] {
  background-color: #080f1c !important;
  border-radius: 0.5rem !important;
  color: #fff !important;
  width: max-content !important;
  max-width: 18rem !important;
  text-align: left !important;
  font-family: "Open Sans", Roboto, Arial, sans-serif !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;

  .tippy-content {
    padding: 1rem !important;
  }

  .tippy-arrow {
    width: 16px;
    height: 16px;

    &::before {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      background: inherit;
      transform: rotate(45deg);
      border-radius: 2px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      background-color: #080f1c;
      transform: rotate(45deg);
      border-radius: 2px;
    }
  }

  &[data-placement^="top"] .tippy-arrow {
    bottom: -8px;
  }

  &[data-placement^="bottom"] .tippy-arrow {
    top: -8px;
  }

  &[data-placement^="left"] .tippy-arrow {
    right: -8px;
  }

  &[data-placement^="right"] .tippy-arrow {
    left: -8px;
  }
}
