<section class="section-api">
  <div class="section-title">
    <h2 class="h3">Referencia de API para el componente Switch de Obelisco</h2>
    <div class=" ">
      <code
        highlight-js
        [lang]="'ts'"
        code="import { OSwitchModule } from 'ngx-obelisco-17/switch';"
      ></code>
    </div>
  </div>

  <h2 class="h3">Etiqueta</h2>
  <hr />

  <div class="section-selector">
    <p>Selector: <strong>o-switch</strong></p>

    <div class="section-properties">
      <h2 class="h3">Propiedades</h2>

      <o-table
        [isScrollable]="true"
        [columns]="columns"
        [dataSource]="dataSource"
        [isStriped]="true"
        [isBordered]="true"
      ></o-table>
      <br />

      <h2 class="h3">Métodos</h2>
      <o-table
        [isScrollable]="true"
        [columns]="columns"
        [dataSource]="dataSourceOutput"
        [isStriped]="true"
        [isBordered]="true"
      ></o-table>
    </div>
  </div>
</section>
