<section class="section-api">
  <div class="section-title">
    <h2 class="h3">Referencia de API para el componente Pestañas</h2>
    <div class=" ">
      <code
        highlight-js
        [lang]="'ts'"
        code="import { ONavModule } from 'ngx-obelisco-17/nav';"
      ></code>
    </div>
  </div>

  <h2 class="h3">Etiqueta</h2>
  <hr />

  <div class="section-selector">
    <p>Selector: <strong>o-tabs</strong></p>

    <div class="section-properties">
      <h2 class="h3">Propiedades</h2>
      <o-table
        [isScrollable]="true"
        [columns]="columns"
        [dataSource]="dataSourceTabs"
        [isStriped]="true"
        [isBordered]="true"
      ></o-table>
    </div>
  </div>

  <h2 class="h3">Tipos de datos</h2>
  <hr />

  <div class="section-type">
    <h3>TabsProps</h3>
    <p>
      Permite establecer los valores de la propiedad <strong>TabsProps</strong>.
    </p>

    <div class="section-interface">
      <div class=" ">
        <code highlight-js [lang]="'ts'">{{ exampleIterface }}</code>
      </div>

      <div class="section-properties">
        <h4>Propiedades</h4>
        <o-table
          [isScrollable]="true"
          [dataSource]="dataSourceProps"
          [columns]="columns"
          [isBordered]="true"
          [isStriped]="true"
        ></o-table>
      </div>
    </div>
  </div>

  <div class="section-type mt-4">
    <h3>Sizes</h3>
    <p>
      Permite establecer el tamaño del componente
      <strong>OTabsComponent</strong>.
    </p>

    <div class="section-interface">
      <div class=" ">
        <code highlight-js [lang]="'ts'">
          {{ sizes }}
        </code>
      </div>
    </div>
  </div>
</section>
