<section class="section-api">
  <div class="section-title">
    <h2 class="h3">Referencia de API para el componente Tabla de Obelisco</h2>
    <div class=" ">
      <code
        highlight-js
        [lang]="'ts'"
        code="import { OTableModule } from 'ngx-obelisco-17/table';"
      ></code>
    </div>
  </div>

  <h2 class="h3">Etiqueta</h2>
  <hr />

  <div class="section-selector">
    <p>Selector: <strong>o-table</strong></p>

    <div class="section-properties">
      <h2 class="h3">Propiedades</h2>
      <o-table
        [isScrollable]="true"
        [columns]="columns"
        [dataSource]="dataSource"
        [isStriped]="true"
        [isBordered]="true"
      ></o-table>
    </div>

    <div class="section-properties">
      <h2 class="h3">Métodos</h2>
      <o-table
        [isScrollable]="true"
        [columns]="columns"
        [dataSource]="dataSourceMethods"
        [isStriped]="true"
        [isBordered]="true"
      ></o-table>
    </div>
  </div>

  <h2 class="h3">Tipos de datos</h2>
  <hr />

  <div class="section-type">
    <h3>Column</h3>
    <p>
      Permite establecer los valores de la propiedad <strong>columns</strong>.
    </p>

    <div class="section-interface">
      <div class=" ">
        <code highlight-js [lang]="'ts'">{{ exampleColumnInterface }}</code>
      </div>
      <div class="section-properties">
        <h4>Propiedades</h4>
        <o-table
          [isScrollable]="true"
          [dataSource]="dsColumnInterface"
          [columns]="columns"
          [isBordered]="true"
          [isStriped]="true"
        ></o-table>
      </div>
    </div>

    <br />
    <br />

    <h3>DataSource</h3>
    <p>
      Permite establecer los valores de la propiedad
      <strong>dataSource</strong>.
    </p>

    <div class="section-interface">
      <div class=" ">
        <code highlight-js [lang]="'ts'">{{ exampleDataSourceInterface }}</code>
      </div>
      <div class="section-properties">
        <h4>Propiedades</h4>
        <o-table
          [isScrollable]="true"
          [dataSource]="dsDataSourceInterface"
          [columns]="columns"
          [isBordered]="true"
          [isStriped]="true"
        ></o-table>
      </div>
    </div>

    <br />
    <br />

    <h3>TableCheckbox</h3>
    <p>
      Permite establecer los valores de la propiedad <strong>checkbox</strong>.
    </p>

    <div class="section-interface">
      <div class=" ">
        <code highlight-js [lang]="'ts'">{{
          exampleTableCheckboxInterface
        }}</code>
      </div>
      <div class="section-properties">
        <h4>Propiedades</h4>
        <o-table
          [isScrollable]="true"
          [dataSource]="dsTableCheckboxInterface"
          [columns]="columns"
          [isBordered]="true"
          [isStriped]="true"
        ></o-table>
      </div>
    </div>
  </div>
</section>
