<section class="section-api">
  <div class="section-title">
    <h2 class="h3">
      Referencia de API para el componente Desplegables de Obelisco
    </h2>
    <div class=" ">
      <code
        highlight-js
        [lang]="'ts'"
        code="import { ODropdownModule } from 'ngx-obelisco-17/dropdown';"
      ></code>
    </div>
  </div>

  <h2 class="h3">Etiqueta</h2>
  <hr />

  <div class="section-selector">
    <p>Selector: <strong>o-dropdown-selection</strong></p>
    <div class="section-properties">
      <h2 class="h3">Propiedades</h2>

      <o-table
        [isScrollable]="true"
        [columns]="columns"
        [dataSource]="dataSource"
        [isStriped]="true"
        [isBordered]="true"
      ></o-table>

      <br />

      <h2 class="h3">Métodos</h2>

      <o-table
        [isScrollable]="true"
        [columns]="columns"
        [dataSource]="dataSourceOutput"
        [isStriped]="true"
        [isBordered]="true"
      ></o-table>
    </div>
  </div>

  <h2 class="h3">Tipos de datos</h2>
  <hr />

  <div class="section-type">
    <h3>DropdownSelectionItem</h3>
    <p>
      Permite establecer los valores de la propiedad <strong>items</strong>.
    </p>

    <div class="section-interface">
      <div class=" ">
        <code highlight-js [lang]="'ts'">{{ dropdownSelectionInterface }}</code>
      </div>
      <div class="section-properties">
        <h4>Propiedades</h4>
        <o-table
          [isScrollable]="true"
          [columns]="columns"
          [dataSource]="dataSourceInterface"
          [isStriped]="true"
          [isBordered]="true"
        ></o-table>
      </div>
    </div>
  </div>

  <div class="section-type mt-4">
    <h3>Sizes</h3>
    <p>Permite establecer el tamaño del componente.</p>

    <div class="section-interface">
      <div class=" ">
        <code highlight-js [lang]="'ts'">
          {{ sizes }}
        </code>
      </div>
    </div>
  </div>
</section>
