<section class="section-api">
  <div class="section-title">
    <h2 class="h3">Referencia de API para el componente Panel de Obelisco</h2>
    <div class=" ">
      <code
        highlight-js
        [lang]="'ts'"
        code="import { OPanelModule } from 'ngx-obelisco-17/panel';"
      ></code>
    </div>
  </div>

  <h2 class="h3">Etiqueta</h2>
  <hr />

  <div class="section-selector">
    <p>Selector: <strong>o-panel-small</strong></p>

    <div class="section-properties">
      <h2 class="h3">Propiedades</h2>

      <o-table
        [isScrollable]="true"
        [columns]="columns"
        [dataSource]="dataSourcePanelSmall"
        [isStriped]="true"
        [isBordered]="true"
      ></o-table>
    </div>

    <h2 class="h3">Tipos de datos</h2>
    <hr />

    <div class="section-type">
      <h3>MediaPanel</h3>
      <p>
        Permite establecer los valores de la propiedad <strong>image</strong>.
      </p>

      <div class="section-interface">
        <div class=" ">
          <code highlight-js [lang]="'ts'">{{ interface }}</code>
        </div>
        <div class="section-properties">
          <h4>Propiedades</h4>
          <o-table
            [isScrollable]="true"
            [dataSource]="dataSourceInterface"
            [columns]="columns"
            [isBordered]="true"
            [isStriped]="true"
          ></o-table>
        </div>
        <div class="section-properties">
          <h3>MediaSizes</h3>
          <div class=" ">
            <code highlight-js [lang]="'ts'">{{ mediaTypes }}</code>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
