<div class="card-deck max-cards-3 card-column mt-5">
  <a class="card" href="#">
    <div class="card-body">
      <i class="bx bx-message-alt-dots card-icon"></i>
      <h4 class="card-title">Título de tarjeta</h4>
      <p class="card-text">
        Recomendamos en este espacio no utilizar más de 3 líneas, para generar una lectura óptima.
      </p>
    </div>
  </a>
  <a class="card" href="#">
    <div class="card-body">
      <i class="bx bx-message-alt-dots card-icon"></i>
      <h4 class="card-title">Título de tarjeta</h4>
      <p class="card-text">
        Recomendamos en este espacio no utilizar más de 3 líneas, para generar una lectura óptima.
      </p>
    </div>
  </a>
  <a class="card" href="#">
    <div class="card-body">
      <i class="bx bx-message-alt-dots card-icon"></i>
      <h4 class="card-title">Título de tarjeta</h4>
      <p class="card-text">
        Recomendamos en este espacio no utilizar más de 3 líneas, para generar una lectura óptima.
      </p>
    </div>
  </a>
</div>
