<section class="section-example">
  <app-viewer title="Interactiva" [isNavCode]="true">
    <div component class="row justify-content-center">
      <div class="col-xl-6 col-lg-6 col-md-8">
        <o-gallery [galleryItems]="imagesListInteractive" [isInteractive]="true" dataTarget="modalGallery"></o-gallery>
      </div>
    </div>
    <div appClipboard class="d-flex flex-column align-items-end p-0" component-html>
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code highlight-js>{{ exampleInteractiveHTML }}</code>
    </div>

    <div appClipboard class="d-flex flex-column align-items-end p-0" component-ts>
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code highlight-js [lang]="'ts'">{{ exampleInteractiveTS }}</code>
    </div>
  </app-viewer>

  <app-viewer title="Grilla - cant. de imagenes: 1" [isNavCode]="true">
    <div component class="row justify-content-center">
      <div class="col-xl-6 col-lg-6 col-md-8">
        <o-gallery [galleryItems]="imagesList1"></o-gallery>
      </div>
    </div>
    <div appClipboard class="d-flex flex-column align-items-end p-0" component-html>
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code highlight-js>{{ exampleImagesListHTML }}</code>
    </div>

    <div appClipboard class="d-flex flex-column align-items-end p-0" component-ts>
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code highlight-js [lang]="'ts'">{{ exampleImagesList1TS }}</code>
    </div>
  </app-viewer>

  <app-viewer title="Grilla - cant. de imagenes: 2" [isNavCode]="true">
    <div component class="row justify-content-center">
      <div class="col-xl-6 col-lg-6 col-md-8">
        <o-gallery component [galleryItems]="imagesList2"></o-gallery>
      </div>
    </div>
    <div appClipboard class="d-flex flex-column align-items-end p-0" component-html>
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code highlight-js>{{ exampleImagesListHTML }}</code>
    </div>

    <div appClipboard class="d-flex flex-column align-items-end p-0" component-ts>
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code highlight-js [lang]="'ts'">{{ exampleImagesList2TS }}</code>
    </div>
  </app-viewer>

  <app-viewer title="Grilla - cant. de imagenes: 3" [isNavCode]="true">
    <div component class="row justify-content-center">
      <div class="col-xl-6 col-lg-6 col-md-8">
        <o-gallery component [galleryItems]="imagesList3"></o-gallery>
      </div>
    </div>
    <div appClipboard class="d-flex flex-column align-items-end p-0" component-html>
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code highlight-js>{{ exampleImagesListHTML }}</code>
    </div>

    <div appClipboard class="d-flex flex-column align-items-end p-0" component-ts>
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code highlight-js [lang]="'ts'">{{ exampleImagesList3TS }}</code>
    </div>
  </app-viewer>

  <app-viewer title="Grilla - cant. de imagenes: 4" [isNavCode]="true">
    <div component class="row justify-content-center">
      <div class="col-xl-6 col-lg-6 col-md-8">
        <o-gallery component [galleryItems]="imagesList4"></o-gallery>
      </div>
    </div>
    <div appClipboard class="d-flex flex-column align-items-end p-0" component-html>
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code highlight-js>{{ exampleImagesListHTML }}</code>
    </div>

    <div appClipboard class="d-flex flex-column align-items-end p-0" component-ts>
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code highlight-js [lang]="'ts'">{{ exampleImagesList4TS }}</code>
    </div>
  </app-viewer>

  <app-viewer title="Grilla - cant. de imagenes: 5" [isNavCode]="true">
    <div component class="row justify-content-center">
      <div class="col-xl-6 col-lg-6 col-md-8">
        <o-gallery component [galleryItems]="imagesList5"></o-gallery>
      </div>
    </div>
    <div appClipboard class="d-flex flex-column align-items-end p-0" component-html>
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code highlight-js>{{ exampleImagesListHTML }}</code>
    </div>

    <div appClipboard class="d-flex flex-column align-items-end p-0" component-ts>
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code highlight-js [lang]="'ts'">{{ exampleImagesList5TS }}</code>
    </div>
  </app-viewer>

  <app-viewer title="Grilla - cant. de imagenes: 6" [isNavCode]="true">
    <div component class="row justify-content-center">
      <div class="col-xl-6 col-lg-6 col-md-8">
        <o-gallery component [galleryItems]="imagesList6"></o-gallery>
      </div>
    </div>
    <div appClipboard class="d-flex flex-column align-items-end p-0" component-html>
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code highlight-js>{{ exampleImagesListHTML }}</code>
    </div>

    <div appClipboard class="d-flex flex-column align-items-end p-0" component-ts>
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code highlight-js [lang]="'ts'">{{ exampleImagesList6TS }}</code>
    </div>
  </app-viewer>

  <app-viewer title="Grilla - cant. de imagenes: 7" [isNavCode]="true">
    <div component class="row justify-content-center">
      <div class="col-xl-6 col-lg-6 col-md-8">
        <o-gallery component [galleryItems]="imagesList7"></o-gallery>
      </div>
    </div>
    <div appClipboard class="d-flex flex-column align-items-end p-0" component-html>
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code highlight-js>{{ exampleImagesListHTML }}</code>
    </div>

    <div appClipboard class="d-flex flex-column align-items-end p-0" component-ts>
      <button class="btn btn-sm btn-outline-link btn-clipboard">Copiar</button>
      <code highlight-js [lang]="'ts'">{{ exampleImagesList7TS }}</code>
    </div>
  </app-viewer>
</section>
