<section class="section-api">
  <div class="section-title">
    <h2 class="h3">Referencia de API para el componente Tarjeta de Obelisco</h2>
    <div class=" ">
      <code
        highlight-js
        [lang]="'ts'"
        code="import { OCardModule } from 'ngx-obelisco-17/card';"
      ></code>
    </div>
  </div>

  <div class="section-selector">
    <div class="section-properties">
      <h2 class="h3">Propiedades</h2>

      <o-table
        [isScrollable]="true"
        [columns]="columns"
        [dataSource]="dataSourceCard"
        [isStriped]="true"
        [isBordered]="true"
      ></o-table>
    </div>
  </div>

  <h2 class="h3">Tipos de datos</h2>
  <hr />

  <div class="section-type">
    <h3>CardBadge</h3>
    <p>
      Permite establecer los valores de la propiedad
      <strong>cardBadges</strong>.
    </p>

    <div class="section-interface">
      <div class=" ">
        <code highlight-js [lang]="'ts'">{{ cardBadgesInterface }}</code>
      </div>
      <div class="section-properties">
        <h4>Propiedades</h4>
        <o-table
          [isScrollable]="true"
          [columns]="columns"
          [dataSource]="dataSourceCardBadges"
          [isStriped]="true"
          [isBordered]="true"
        ></o-table>
      </div>
    </div>
  </div>

  <br />

  <div class="section-type">
    <h3>BadgeTypes</h3>
    <p>Permite establecer los valores de la propiedad <strong>type</strong>.</p>

    <div class="section-interface">
      <div class=" ">
        <code highlight-js [lang]="'ts'">{{ badgeTypesInterface }}</code>
      </div>
    </div>
  </div>

  <div class="section-type">
    <h3>MediaImage</h3>
    <p>
      Permite establecer los valores de la propiedad <strong>image</strong>.
    </p>

    <div class="section-interface">
      <div class=" ">
        <code highlight-js [lang]="'ts'">{{ mediaImageInterface }}</code>
      </div>
      <div class="section-properties">
        <h4>Propiedades</h4>
        <o-table
          [isScrollable]="true"
          [dataSource]="mediaImagedataSourceInterface"
          [columns]="columns"
          [isBordered]="true"
          [isStriped]="true"
        ></o-table>
      </div>
    </div>
  </div>

  <div class="section-properties my-5">
    <h2 class="h3">Secciones básicas de Tarjeta</h2>
    <hr />
    <p>
      El componente Tarjeta puede ser utilizado con las propiedades mencionadas
      previamente. Además, Ngx-obelisco proporciona una serie de secciones
      predefinidas que pueden incluirse dentro de &lt;o-card&gt;&lt;/o-card&gt;.
    </p>
    <o-table
      [isScrollable]="true"
      [columns]="columns"
      [dataSource]="dataSourceSections"
      [isStriped]="true"
      [isBordered]="true"
    ></o-table>
  </div>
  <div class="section-properties mb-5">
    <p>
      Todas las secciones mencionadas, excepto <em>o-card-header</em> y
      <em>o-card-content</em>, tienen la propiedad
      <em><strong>customClasses</strong>: string</em>, la cual permite aplicar
      clases personalizadas a los mismos.
    </p>
    <p>Algunos componentes tiene además, otras propiedades:</p>
    <h3 class="h4">Propiedades de o-card-image</h3>
    <o-table
      [isScrollable]="true"
      [columns]="columns"
      [dataSource]="dataSourceCardImage"
      [isStriped]="true"
      [isBordered]="true"
    ></o-table>
    <h3 class="h4">Propiedades de o-card-title</h3>
    <o-table
      [isScrollable]="true"
      [columns]="columns"
      [dataSource]="dataSourceCardTitle"
      [isStriped]="true"
      [isBordered]="true"
    ></o-table>
  </div>
  <div class="section-properties mb-5">
    <p>Ejemplos:</p>
    <app-viewer [isNavCode]="true" [isCodeVisible]="true">
      <div
        appClipboard
        class="d-flex flex-column align-items-end p-0"
        component-html
      >
        <button
          class="btn btn-sm btn-outline-link btn-clipboard btn-icon"
        ></button>
        <code highlight-js>{{ sectionsVerticalHtml }}</code>
      </div>
      <div
        appClipboard
        class="d-flex flex-column align-items-end p-0"
        component-ts
      >
        <button
          class="btn btn-sm btn-outline-link btn-clipboard btn-icon"
        ></button>
        <code highlight-js [lang]="'ts'" [lang]="'ts'">{{
          sectionsVerticalTs
        }}</code>
      </div>
    </app-viewer>

    <app-viewer [isCodeVisible]="true">
      <div
        appClipboard
        class="d-flex flex-column align-items-end p-0"
        component-html
      >
        <button
          class="btn btn-sm btn-outline-link btn-clipboard btn-icon"
        ></button>
        <code highlight-js>{{ sectionsHorizontalHtml }}</code>
      </div>
    </app-viewer>
  </div>
</section>
