<section class="section-api">
  <div class="section-title">
    <h2 class="h3">Referencia de API para el componente Galería de Obelisco</h2>
    <div class=" ">
      <code
        highlight-js
        [lang]="'ts'"
        code="import { OSearchModule } from 'ngx-obelisco-17/search';"
      ></code>
    </div>
  </div>

  <div class="section-selector">
    <div class="section-properties">
      <h2 class="h3">Propiedades</h2>

      <o-table
        [isScrollable]="true"
        [columns]="columns"
        [dataSource]="dataSource"
        [isStriped]="true"
        [isBordered]="true"
      ></o-table>
    </div>
  </div>

  <h2 class="h3">Tipos de datos</h2>
  <hr />

  <div class="section-type">
    <h3>SearchbarItems</h3>
    <p>
      Permite establecer los valores de la propiedad
      <strong>searchbarItems</strong>.
    </p>

    <div class="section-interface">
      <div>
        <code highlight-js [lang]="'ts'">{{ searchItemInterface }}</code>
      </div>
      <div class="section-properties">
        <h4>Propiedades</h4>
        <o-table
          [isScrollable]="true"
          [columns]="columns"
          [dataSource]="searchItemDataSource"
          [isStriped]="true"
          [isBordered]="true"
        ></o-table>
      </div>
    </div>
  </div>
</section>
