<section class="section-api">
  <div class="section-title">
    <h2 class="h3">
      Referencia de API para el componente Lista de pasos de Obelisco
    </h2>
    <div class=" ">
      <code
        highlight-js
        [lang]="'ts'"
        code="import { OListModule } from 'ngx-obelisco-17/list';"
      ></code>
    </div>
  </div>

  <h2 class="h3">Etiqueta</h2>
  <hr />

  <div class="section-selector">
    <p>Selector: <strong>o-list-step</strong></p>

    <div class="section-properties">
      <h2 class="h3">Propiedades</h2>

      <o-table
        [isScrollable]="true"
        [columns]="columns"
        [dataSource]="dataSource"
        [isStriped]="true"
        [isBordered]="true"
      ></o-table>
    </div>
  </div>

  <h2 class="h3">Tipos de datos</h2>
  <hr />

  <div class="section-type">
    <h3>Step</h3>
    <p>
      Permite establecer los valores de la propiedad
      <strong>listStepItems</strong>.
    </p>

    <div class="section-interface">
      <div class=" ">
        <code highlight-js [lang]="'ts'">{{ liststepInterfaceStep }}</code>
      </div>
      <div class="section-properties">
        <h4>Propiedades</h4>
        <o-table
          [isScrollable]="true"
          [columns]="columns"
          [dataSource]="liststepStepInterfaceStep"
          [isStriped]="true"
          [isBordered]="true"
        ></o-table>
      </div>
    </div>
  </div>

  <br />

  <div class="section-type">
    <h3>Size</h3>
    <p>Permite establecer los valores de la propiedad <strong>size</strong>.</p>

    <div class="section-interface">
      <div class=" ">
        <code highlight-js [lang]="'ts'">{{ sizes }}</code>
      </div>
    </div>
  </div>
</section>
