<section class="section-api">
  <div class="section-title">
    <h2 class="h3">Referencia de API para el componente de Accesos</h2>
    <div class=" ">
      <code
        highlight-js
        [lang]="'ts'"
        code="import { OAccessModule } from 'ngx-obelisco-17/access';"
      ></code>
    </div>
  </div>

  <div class="section-selector">
    <div class="section-properties">
      <h2 class="h3">Propiedades</h2>

      <o-table
        [isScrollable]="true"
        [columns]="columns"
        [dataSource]="dataSource"
        [isStriped]="true"
        [isBordered]="true"
      ></o-table>
    </div>
  </div>

  <h2 class="h3">Tipos de datos</h2>
  <hr />

  <div class="section-type">
    <h3>Sizes</h3>
    <p>Permite establecer los valores de la propiedad <strong>size</strong>.</p>

    <div class="section-interface">
      <div class=" ">
        <code highlight-js [lang]="'ts'">{{ exampleIterfaceAccess }}</code>
      </div>
    </div>
  </div>
</section>
