<section class="section-api">
  <div class="section-title">
    <h2 class="h3">Referencia de API para el componente Spinner de Obelisco</h2>
    <div class=" ">
      <code
        highlight-js
        [lang]="'ts'"
        code="import { OSpinnerModule } from 'ngx-obelisco-17/spinner';"
      ></code>
    </div>
  </div>

  <div class="section-selector">
    <div class="section-properties mb-5">
      <h2 class="h3">Propiedades</h2>

      <o-table
        [isScrollable]="true"
        [columns]="columns"
        [dataSource]="dataSource"
        [isStriped]="true"
        [isBordered]="true"
      ></o-table>
    </div>
  </div>

  <h2 class="h3">Tipos de datos</h2>
  <hr />

  <div class="section-type">
    <h3>SpinnerTypes</h3>
    <p>Permite establecer los valores de la propiedad <strong>type</strong>.</p>

    <div class="section-interface mb-5">
      <div class=" ">
        <code highlight-js [lang]="'ts'">{{ colors }}</code>
      </div>
    </div>

    <h3>Sizes</h3>
    <p>Permite establecer el <strong>tamaño</strong> del spinner</p>

    <div class="section-interface">
      <div class=" ">
        <code highlight-js [lang]="'ts'">
          {{ sizes }}
        </code>
      </div>
    </div>
  </div>
</section>
